# Cursor Rules
## コミットメッセージ
- コミットメッセージは日本語で書いてください。
- prefixは以下のとおりです。
  - feat: 新機能の追加
  - fix: バグの修正
  - refactor: コードのリファクタリング
  - test: テストの追加
  - docs: ドキュメントの更新
  - style: コードのスタイル修正
  - chore: 軽微な変更
